body{
    padding: 0;
    margin: 0;
}
.toolbar{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 5px;
}
.pagebdy{
    background: linear-gradient(red, blue, pink);
    min-height: 100vh;
}
.hedding{
    align-items: center;
    justify-content: center;
    display: flex;
}
.boxess{
border: 2px solid black;
padding: 2%;
align-items: center;
justify-content: space-evenly;
display: flex;
}
.box1{
    border: 2px solid black;
    padding: 7%;
    border-radius: 10%;
}
.box2{
    border: 2px solid black;
    padding: 7%;
    border-radius: 10%;
}
.avloff{
    border: 2px solid black;
    margin-top: 2%;
    padding: 5%;
    display: flex;
    justify-content: center;
}
.bookinginputs{
    align-items: center;
    justify-content: center;
}
.bookinginputs input{
    border-radius: 10px;
    margin: 10px;
}
.bookinginputs select{
    border-radius: 10px;
    margin: 10px;
}
.bookinginputs button{
    border-radius: 10px;
}
.booking-card {
  background: #f1f1f1;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
}
